# RunningHub API 配置
RUNNINGHUB_API_KEY=
RUNNINGHUB_BASE_URL=https://www.runninghub.cn
RUNNINGHUB_WEBAPP_ID=

# webappId
short_webappId=
portrait_webappId=
landscape_webappId=
# gamma.app
gamma_api_key=